.right-top-bar{
    display: flex;
    padding-left: 0;
    height: 8.75rem;
    justify-content: flex-end;
    align-items: center;
    background: #FFF;
}
.top-band{
    border-radius: 15px;
    display: flex;
    width: 94rem;
    height: 8.75rem;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    box-shadow:5px 1px 3px 0px;
}
.left-side{
    display: flex;
    width: 71.1875rem;
    padding: 2.875rem 4.375rem;
    justify-content: flex-end;
    align-items: center;
    gap: 4.6875rem;
    align-self: stretch;
}
.Icon-top-bar{
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
}
#logo{
    width: 15.375rem;
    height: 8.75rem;
}