@font-face {
    font-family: balgika-thin;
    src: url(../fonts/belgika-40th-webfont.otf);
}
@font-face {
    font-family: balgika-normal;
    src: url(../fonts/belgika-16th-webfont.otf);
}
@font-face {
    font-family: balgika-bold;
    src: url(../fonts/belgika-8th-webfont.otf);
}
@font-face {
    font-family: balgika-extrabold;
    src: url(../fonts/belgika-5th-webfont.otf);
}