@font-face {
    font-family: balgika-thin;
    src: url(../asset/font/IBM-Courier-Bold.otf);
}
@font-face {
    font-family: balgika-normal;
    src: url(../asset/font/IBM-Courier-Bold.otf);
}
@font-face {
    font-family: balgika-bold;
    src: url(../asset/font/IBM-Courier-Bold.otf);
}
@font-face {
    font-family: balgika-extrabold;
    src: url(../asset/font/IBM-Courier-Bold.otf);
}