:root{
    /*Couleur*/
    --Major_Green: #045e51;
    --Major_Grey: #3d4246;
    --Major_White: #fffff;
    --Major_Pink: #045e51;
    /*couleur de font*/
    --Font-Color-Green : #d7fcc8;
    --Font-Color-Grey : #63758f;
}
#Firt{
    background-image: url("../Product-files/Jungle_Img_WP.jpg");
}