html{
    overflow-x: hidden;
    background: #F3F3F3;
}
:root{
    /*Couleur*/
    --Major_Green: #045e51;
    --Major_Grey: #3d4246;
    --Major_White: #fffff;
    --Major_Pink: #045e51;
    /*couleur de font*/
    --Font-Color-Green : #d7fcc8;
    --Font-Color-Grey : #63758f;
    --Hauteur_banner : 13rem;
    --Largeur_banner : 100%;
    --LargeurMax_banner : 98vw;
}
#Form-acc{
    position: absolute;
    translate: -50%;
    bottom: 20%;
    left: 50%;
    height:auto;
    width: 20vw;
    border-radius: 14px;
    background: #045e51;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 1.4em;
}
#submit{
    display: flex;
    margin-bottom: 1.4em;
}
#already{
    margin-bottom: 1.4em;
}
